NEXT_PUBLIC_SITE_URL=https://tudominio.com
NEXT_PUBLIC_APK_URL=https://example.com/gymflow-mini.apk
NEXT_PUBLIC_WHATSAPP_NUMBER=5358497886
NEXT_PUBLIC_GOOGLE_PLAY_URL=
NEXT_PUBLIC_APP_STORE_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_FACEBOOK_URL=
